<!-- <div class="mx-3 my-5"> -->
<!-- <div>
    <div class="grid grid-cols-3 grid-rows-3">
        <div class="col-start-1 col-span-3 row-start-1 row-span-3">
            <img
                src="https://media.gettyimages.com/id/1788086917/photo/the-woman-in-the-darkness.jpg?s=612x612&w=0&k=20&c=vRFnEEt0BUHeuzqoSpGJ_0oLCrY1t2ot-pgCE3lHVfA="
                alt="camera image"
            >
        </div>

        <div class="col-start-1 col-span-3 row-start-2 row-span-1 flex flex-col text-4xl md:text-7xl my-10 text-white">
            <p class="mx-10">Welcome to</p>
            <p class="mx-10 text-7xl md:text-9xl">The Cinephile</p>
        </div>
    </div>

    <div>
        <p>Track films you've watched.</p>
        <p>Save the ones you want to see.</p>
        <p>Let everyone know by reviewing them.</p>
    </div>

    <div>
        <button>Join Now</button>
    </div>
</div> -->

<!-- <div>
    <div class="video-container">
        <video autoplay muted loop class="responsive-video">
          <source src="assets/videos/intro1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="video-text">
          <h1>Welcome to My App</h1>
          <p>Discover amazing features!</p>
        </div>
    </div>
</div> -->

<div>
    <div class="relative w-full h-[600px] overflow-hidden font-sans">
        <video class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-auto h-auto min-w-full min-h-full object-cover" autoplay muted loop>
          <source src="assets/videos/intro1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <div class="absolute inset-0 bg-black bg-opacity-50 z-0"></div>
        
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center z-10">
            <p class="text-2xl md:text-3xl mb-8">Welcome to </p>
            <h1 class="text-6xl md:text-8xl">The Cinephile</h1>
        </div>
      </div>

    <div class="my-8 md:my-12 text-2xl md:text-4xl lg:text-6xl text-center font-bold font-serif">
        <h2>Track films you’ve watched.</h2>
        <h2 class="my-3">Save those you want to see.</h2>
        <h2>Tell your friends what’s good.</h2>
    </div>

    <div class="flex justify-center">
        <button class="btn btn-accent text-xl">Join Us - It's Free</button>
    </div>

    <div>
        more content
    </div>
    <div>
        more content
    </div>
</div>