<div class="mb-10">
    <!-- Profile Top -->
    <div class="grid grid-cols-3 grid-rows-5">
        <div class="row-start-1 row-end-4 col-start-1 col-end-4 bg-red-400">
        </div>
        <div class="row-start-4 row-end-6 col-start-1 col-end-4 bg-blue-400">
        </div>
        <div class="row-start-3 row-end-5 col-start-1 col-end-2 bg-white p-2 translate-x-4 rounded-full">
            <img class="rounded-full" src="assets/images/avatar-sample.jpg" />
        </div>
    </div>

    <!-- Profile Bottom -->
    <div>
        <!-- More Details -->
        <div class="py-10">
            <div>asasdfasdfafsdfasddfdf</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
            <div>asdfsdfafadsfsfsdasdsd</div>
        </div>
        <!-- Logout -->
        <div class="mx-2">
            <button class="btn btn-error w-full" (click)="logout()">Logout</button>
        </div>
    </div>
    
</div>