<div class="w-full mx-auto px-4">
  <!-- <div class="max-w-2xl mx-auto px-4"> -->
  <form [formGroup]="searchTerm" (ngSubmit)="searchMovies()" class="relative flex flex-row group gap-2">
    <div class="basis-3/4">
      <!-- Input -->
      <label class="input input-bordered flex items-center gap-2">
        <input 
          formControlName="query"
          type="text"
          placeholder="Search here..."
          class="grow"
          aria-label="Search input"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      </label>
    </div>

    <div class="basis-1/4">
      <select class="select select-bordered w-full text-xs" formControlName="type">
        @for (item of type; track $index) {
          <option [value]="item">{{ item? (item.charAt(0).toUpperCase() + item.slice(1)) : '' }}</option>
        }
      </select>
    </div>
  </form>

  <div class="mt-4 max-h-[60vh] overflow-y-auto">
    <!-- Your search results content will go here -->
    @for (item of searchedItems; track $index) {
      <div class="flex flex-row mb-4">
        <div class="basis-1/5 h-28">
          <img [src]="imgUrl(item.poster_path)" alt="{{ item.title }} movie poster">
        </div>
        <div class="basis-4/5 h-28 overflow-y-hidden pl-1">
          <div class="font-semibold text-lg line-clamp-1">{{ item.title }}</div>
          <div class="italic text-slate-700 text-sm line-clamp-4">{{ item.overview }}</div>
        </div>
      </div>
    }
  </div>
</div>