<!-- Search Component -->
<div class="w-full mx-auto px-4">
<!-- <div class="max-w-2xl mx-auto px-4"> -->
    <h4>Search Movies...</h4>
    <form [formGroup]="searchTerm" (ngSubmit)="searchMovies()" class="relative flex items-center group">
      <!-- Input -->
      <input 
        formControlName="query"
        type="text"
        placeholder="Search..."
        class="input input-bordered w-full pl-12 pr-4 py-3 
               text-gray-700 transition-all duration-300
               focus:ring-2 focus:ring-primary focus:border-transparent
               hover:bg-gray-50 rounded-full shadow-sm
               dark:bg-gray-800 dark:text-gray-200 dark:border-gray-700"
        aria-label="Search input"
      >
      
      <!-- Search Icon -->
      <div class="absolute left-3 text-gray-400 dark:text-gray-500">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          class="h-6 w-6" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke="currentColor"
        >
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
      <br>
      <button>Search</button>
    </form>
    <div class="mt-4 max-h-[60vh] overflow-y-auto">
      <!-- Your search results content will go here -->
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
       <div>Lorem ipsum dolor sit amet c</div>
    </div>
  </div>